 /* Create two equal columns that floats next to each other */
 .column {
  float: left;
  margin-right: 10px;
}

/* Clear floats after the columns */
.row {
  width: "100%";
}
.row:after {
  content: "";
  display: table;
  clear: both;
}