body {
    background-color: #54565a;
    color: white;
    font-family: Arial;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background: rgb(54, 54, 54);
}

 /* Create two equal columns that floats next to each other */
.column {
    float: left;
    min-width: 30%;
    max-width: 60%;
    padding: 10px;
    /* background: lightblue */
}

/* Clear floats after the columns */
.row {
    width: "100%";
}
.row:after {
    content: "";
    display: table;
    clear: both;
}